body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(20, 20, 20);
}

* {
    margin: 0;
    padding: 0;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: black;
    height: 8vh;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    opacity: 0.7;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
}

.titulo {
    color: white;
    text-decoration: none;
    text-shadow: black 2px 2px 2px;
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
}

.instagram {
    width: 75%;
    height: 600px;
    background: rgb(54, 54, 54);
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 15px;
}

.instagram-titulo h1 {
    color: white;
    font-size: 30px;
    text-align: center;
    text-shadow: black 2px 2px 2px;
    margin-top: 3.5px;
    margin-bottom: 50px;
}

.instagram-seguidores h1 {
    color: white;
    font-size: 23px;
    text-shadow: black 2px 2px 2px;
    margin-left: 35px;
}



.instagram-seguidores-descricao h1 {
    color: white;
    font-size: 17px;
    text-shadow: black 2px 2px 2px;
    margin-top: 5px;
    margin-left: 35px;
}

.instagram-seguidores-descricao h2 {
    font-size: 17px;
    font-weight: bold;
    -webkit-text-fill-color: rgb(255, 55, 55);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    margin-top: 12px;
    margin-left: 35px;
}

.instagram-curtidas h1 {
    color: white;
    font-size: 23px;
    text-shadow: black 2px 2px 2px;
    margin-left: 35px;
    margin-top: 30px;
}



.instagram-curtidas-descricao h1 {
    color: white;
    font-size: 17px;
    text-shadow: black 2px 2px 2px;
    margin-top: 5px;
    margin-left: 35px;
}

.instagram-visualizacoes h1 {
    color: white;
    font-size: 23px;
    text-shadow: black 2px 2px 2px;
    margin-left: 35px;
    margin-top: 30px;
}



.instagram-visualizacoes-descricao h1 {
    color: white;
    font-size: 17px;
    text-shadow: black 2px 2px 2px;
    margin-top: 5px;
    margin-left: 35px;
}

.leia-instagram p {
    color: white;
    font-size: 20px;
    text-shadow: black 2px 2px 2px;
    margin-top: 45px;
    margin-left: 20px;
}

.leia-instagram-link {
    color: rgb(24, 252, 24);
    text-decoration: none;
}

.leia-instagram-link:hover {
    opacity: 0.7;
}
