body {
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.titulo {
    text-align: center;
}

.texto {
    text-align: start;
    color: white;
    font-size: medium;
}