* {
    margin: 0;
    padding: 0;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #23232e;
    height: 8vh;
    color: #fff;
    text-decoration: none;
}


nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    opacity: 0.7;
}

main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
}

.titulo {
    color: white;
    position: absolute;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}