body {
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.titulo h1 {
    text-align: center;
}

.texto p {
    text-align: start;
    color: white;
    font-size: medium;
}